extends layout.pug

block content
    div(id="navbar")
        //- img#navLogo(src="/images/dftb.png", alt="Don't Forget The Baby!")
        form(action="/search" method="post")
            input(type='hidden' name="_csrf" value=csrfToken)
            input.searchbar(type='search' name='value' placeholder='Search any task')
            button(id="searchbutton") Search
        div
            a(id="logout" href='/user/logout') Logout
    div(id="main-content")
        div(id="left-section")
            //- img(src="/images/dftb.png" id ="logo")
            div.add-list-input
                h1.listHeader Lists
                form#new-list(action='/lists/new' method='post')
                    input(type='hidden' name="_csrf" value=csrfToken)
                    input(class='add-list-value' type='text' name='listName' placeholder='Add new list...')
                    button(class='api-button' id='add-list-button') Add List
            ul.allLists
                li
                    a.get-all-lists(href='/') All Tasks
                each list in lists
                    li
                        a.list-of-lists(href=`/lists/${list.id}`)= list.listName
        div(id="middle-section")
            ul(class='task-index')
                if listHeader
                    h1#summary-header= listHeader
                else 
                    h1(id="summary-header") All Tasks
                //- li#task-list-header Type in a task.
                form#new-task(action='/tasks/new' method='post')
                    input(type='hidden' name="_csrf" value=csrfToken)
                    input(class='new-task-input' type='text' name='taskName' placeholder='Add new task...')
                    div#property-buttons
                        select(name='timeEstimate' class='time-dropdown' data-hover-label='time-estimate')
                            option(value='5') 5 Minutes
                            option(value='10') 10 Minutes
                            option(value='15') 15 Minutes
                            option(value='30') 30 Minutes
                            option(value='60') 1 Hour
                            option(value='1440') 1 Day
                        select(name='list' class='list-dropdown' data-hover-label='list')
                            each list in lists
                                option( value= list.id )= list.listName
                    button(class='api-button' id='add-task-button') Add Task

                each task in tasks
                    li#task-row= task.taskName
                        span#taskTable
                            div(id='task-time' class=task.taskTime)
                            a(class='taskDeleteAnchor' href=`/delete/${task.id}` role='button')
                                img#deleteButton(src="/images/clipart51372.png" ) 
                        //- a(class=task.taskName href='')
                        //- span= task.taskName
        div(id="right-section")
            .summary-section
                if listHeader
                    h1#summary-header Tasks in  #{listHeader}
                else 
                    h1#summary-header Tasks in All Lists #{listHeader}
                ul.summary-of-tasks
                    li.num-tasks
                        .summary-label Total:     
                        #task-count
                    li.time-left
                        p.summary-label Estimated Time to Complete:
                        p#time-left
                img(src="/images/dftb.png" id ="logo")

                        //- li.completed-tasks
                        //-     p.summary-label Completed
                        //-     p#done-tasks

