extends layout.pug

block content
    div(id="navbar")
        form(action="/search" method="post")
            input(type='hidden' name="_csrf" value=csrfToken)
            input.searchbar(type='search' name='value' placeholder='Search any task')
            button(id="searchbutton") Search
        div
            a(id="logout" href='/user/logout') Logout
    div(id="main-content")
        div(id="left-section")
            img(src="../images/logo.jpeg" id ="logo")
            div.add-list-input
                form#new-list(action='/lists/new' method='post')
                    input(type='hidden' name="_csrf" value=csrfToken)
                    input(class='add-list-value' type='text' name='listName' placeholder='Add new list...')
                    button(class='api-button' id='add-list-button') Add List
            a.get-all-lists(href='/') All Tasks
            each list in lists
                a.list-of-lists(href=`/lists/${list.id}`)= list.listName
        div(id="middle-section")
            ul(class='task-index')
                h3= listHeader
                li#task-list-header Type in a task.
                li#add-task-form
                    form#new-task(action='/tasks/new' method='post')
                        input(type='hidden' name="_csrf" value=csrfToken)
                        input(class='new-task-input' type='text' name='taskName' placeholder='Add new task...')
                        div#property-buttons
                            select(name='timeEstimate' class='time-dropdown' data-hover-label='time-estimate')
                                option(value='5') 5 Minutes
                                option(value='10') 10 Minutes
                                option(value='15') 15 Minutes
                                option(value='30') 30 Minutes
                                option(value='60') 1 Hour
                                option(value='1440') 1 Day
                            select(name='list' class='list-dropdown' data-hover-label='list')
                                each list in lists
                                    option( value= list.id )= list.listName
                        button(class='api-button' id='add-task-button') Add Task

                each task in tasks
                    li#task-row= task.taskName
                        span
                            div(id='task-time' class=task.taskTime)
                            a(class='api-button' href=`/delete/${task.id}` role='button') Delete
                        //- a(class=task.taskName href='')
                        //- span= task.taskName
        div(id="right-section")
            .summary-section
                h2#summary-header All
                .summary-of-tasks
                    .num-tasks
                        p.summary-label Total
                        p#task-count
                    .time-left
                        p.summary-label Time Left
                        p#time-left
                    .completed-tasks
                        p.summary-label Completed
                        p#done-tasks


