extends layout.pug

block content
    div
        a(href='/user/log-in') Log in
    div.sign-up-form
        h2 Sign up for free
        if errors
            each error in errors
                p= error
        form(action='/user/signup' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            label(for='firstName') First Name
            input(type='text' name='firstName' value=user.firstName placeholder='First Name')
            label(for='lastName') Last Name
            input(type='text' name='lastName' value=user.lastName placeholder='Last Name')
            label(for='email') Email
            input(type='email' name='email' value=user.email placeholder='Email')
            label(for='username') Username
            input(type='text' name='username' value=user.username placeholder='Username')
            label(for='password') Password
            input(type='password' name='password' value=user.password placeholder='Password')
            label(for='confirmPassword') Confirm Password
            input(type='password' name='confirmPassword' value=user.confirmPassword placeholder='Confirm Password')
            button Sign up!
